@import "../../partials/colors";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
}

.font-btn-wrapper {
  position: relative;
  display: inline-block;
  .font-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    border: none;
    cursor: pointer;
    .current-font-name {
      margin-right: 10px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 700;
      white-space: nowrap;
    }
  }

  .font-options-menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 38px;
    right: 6px;
    width: 160px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    a {
      color: black;
      padding: 1rem;
      text-decoration: none;
      display: block;
    }
    a:first-child {
      font-family: "Inter", sans-serif;
    }
    a:nth-child(2) {
      font-family: "Lora", serif;
    }
    a:last-child {
      font-family: "Inconsolata", monospace;
    }
  }
  .show {
    display: block;
  }
}

.separating-line {
  height: 22px;
  width: 1px;
}

.moon {
  scale: 1.1;
}

@media (min-width: 768px) {
  .logo {
    scale: 1.2;
  }

  .header-right {
    width: 220px;
  }

  .current-font-name,
  .font-options-menu {
    font-size: 18px !important;
    line-height: 21px !important;
  }
}
