@import "../../partials/colors";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  scale: 1.2;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.select {
  position: relative;
  display: inline-block;
  .select-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 120px;
    padding: 0;
    border: none;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
    span {
      margin-right: 10px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .options {
    z-index: 1;
    display: none;
    position: absolute;
    top: 38px;
    right: 6px;
    width: 160px;
    font-weight: 700;
    a {
      color: black;
      padding: 1rem;
      text-decoration: none;
      display: block;
    }
    a:first-child {
      font-family: "Inter", sans-serif;
    }
    a:nth-child(2) {
      font-family: "Lora", serif;
    }
    a:last-child {
      font-family: "Inconsolata", monospace;
      font-size: 18px;
    }
  }
  .show {
    display: block;
  }
}

.separator {
  height: 20px;
  width: 2px;
  background-color: $gray-600;
}

.moon {
  scale: 1.1;
}
