@import "./colors";

@mixin dark-theme {
  background-color: black;
  // Header
  .header {
    .select-btn {
      background-color: black;
      color: white;
    }
    .options {
      background-color: $black-700;
      box-shadow: 0px 0px 26px 0px $violet;
      a {
        color: white;
      }
      a:hover {
        color: $violet;
      }
    }
    .slider {
      background-color: $violet;
    }
    .moon {
      stroke: $violet;
    }
  }
  .search {
    border: 1px solid $black-300;
    background-color: $black-300;
    color: white;
  }
  .dictionary-header {
    .word {
      color: white;
    }
  }
  .nodef-container {
    h1 {
      color: white;
    }
  }
  .meaning-container {
    border-top: 1px solid $black-500;
  }
  .part-of-speech {
    background-color: $black-900;
    color: white;
  }
  .meaning-text {
    color: $gray-600;
  }
  .definition-list {
    li {
      color: white;
    }
  }
}

@mixin light-theme {
  // Header
  .header {
    .select-btn {
      background-color: white;
    }
    .options {
      background-color: white;
      box-shadow: 0px 0px 26px 0px $gray-400;
      a:hover {
        color: $violet;
      }
    }
    .slider {
      background-color: $gray-600;
    }
    .moon {
      stroke: $gray-600;
    }
  }
  .search {
    border: 1px solid $gray-200;
    background-color: $gray-200;
  }
  .meaning-container {
    border-top: 1px solid $gray-400;
  }
  .part-of-speech {
    background-color: white;
  }
  .meaning-text {
    color: $gray-600;
  }
}

@mixin sans-serif-theme {
  font-family: "Inter", sans-serif;
  * {
    font-family: inherit;
  }
}

@mixin serif-theme {
  font-family: "Lora", serif;
  * {
    font-family: inherit;
  }
}

@mixin mono-theme {
  font-family: "Inconsolata", monospace;
  * {
    font-family: inherit;
  }
}
