@import "../../partials/colors";

.meaning-container {
  position: relative;
  margin-top: 2rem;
  padding: 2.5rem 1.25rem;
}

.part-of-speech {
  position: absolute;
  top: -13px;
  left: 0;
  padding-right: 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.meaning-text {
  margin-bottom: 1.5rem;
  font-size: 18px;
  line-height: 24px;
}

.definition-list {
  padding: 0 2rem;
  li {
    list-style: disc;
    margin-bottom: 1.25rem;
    font-size: 14px;
    line-height: 17px;
  }
}

@media (min-width: 768px) {
  .part-of-speech {
    top: -14px;
    width: 70px;
    font-size: 21px;
    line-height: 26px;
  }

  .meaning-text {
    font-size: 21px;
    line-height: 26px;
  }

  .definition-list {
    li {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
